<!DOCTYPE html>
<html>

<head>
    <title>Resume Feedback System</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
        }

        textarea {
            width: 100%;
        }

        .box {
            border: 1px solid #ccc;
            padding: 15px;
            margin-top: 20px;
        }

        .matched {
            color: green;
        }

        .missing {
            color: red;
        }

        .partial {
            color: orange;
        }
    </style>
</head>

<body>

    <h1>Resume Feedback System</h1>

    <form method="post" enctype="multipart/form-data">
        <h3>Resume</h3>
        <!-- <textarea name="resume" rows="10">{{ result.resume_text if result }}</textarea> -->
        <input type="file" name="resume_file" accept=".pdf,.docx,.txt">

        <h3>Job Description</h3>
        <!-- <textarea name="jd" rows="10">{{ result.jd_text if result }}</textarea> -->
        <input type="file" name="jd_file" accept=".pdf,.docx,.txt">

        <br><br>
        <button type="submit">Analyze</button>
    </form>

    {% if result %}
    <div class="box">
        <h2>Extracted Skills</h2>

        <p><strong>Resume Skills:</strong> {{ result.resume_skill }}</p>
        <p><strong>Job Skills:</strong> {{ result.jd_skill }}</p>
    </div>

    <div class="box">
        <h2>Skill Analysis</h2>

        <p class="matched">
            <strong>Matched:</strong> {{ result["match"]["matched"] }}
        </p>

        {% if result["match"].get("partial") %}
        <p class="partial">
            <strong>Partial Matches:</strong>
            {{ result["match"]["partial"] }}
        </p>
        {% endif %}

        <p class="missing">
            <strong>Missing:</strong> {{ result["match"]["missing"] }}
        </p>

        <p>
            <strong>Coverage:</strong> {{ result["match"]["coverage"] }}%
        </p>

    </div>

    <div class="box">
        <h2>Feedback</h2>
        <p>{{ result.feedback }}</p>
    </div>
    {% endif %}

</body>

</html>